/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@font-face {
    font-family: 'Florencesans';
    src: font-url('Florsn01.ttf') format('truetype');
    font-weight: normal;  
    font-style: normal; 
}

@font-face {
    font-family: 'Otto';
    src: font-url('Otto.ttf') format('truetype');
    font-weight: normal;  
    font-style: normal; 
}

body {
    background-color: rgb(255, 255, 255);
    font-family: 'Florencesans';
    font-size: 10pt;
    color : rgb(60, 60, 60)
}

.menubar hr {
    border : 0px;
    background-color: rgb(176, 176, 177);
    width : 100%;
    height : 2px;
    margin: 7px 0px;
}

.clearfix:before,
.clearfix:after {
    clear: both;
    display: table;
}

/*.main {
    width : 792px;
    margin : 0 auto;
}
*/
.banner {
    
}

.menubar {
    
}

.header {
    text-align: center;
}

.menu_container {
    height : 40px;
}

#menu {
    padding: 0;
    z-index: 30;
    margin: 0 auto;
    width: 630px;
    padding-top: 5px;
}

#menu li {
    margin: 0;
    padding: 0;
    list-style: none;
    float: left;
    font-family: 'Florencesans';
    font-size: 12pt;
}

#menu li a {
    display: block;
    margin: 0 1px 0 0;
    padding: 4px 0px;
    width: 100px;
    color: rgb(150, 150, 150);
    text-align: center;
    text-decoration: none;
    font-family: 'Florencesans';
    font-size: 10pt;
}

#menu li.menu_dot {
    display: block;
    margin: 0 1px 0 0;
    padding: 4px 0px;
    width: 40px;
    color: rgb(244, 173, 112);
    text-align: center;
    text-decoration: none;
    font-style: bold;
    font-size: 12pt;
    font-family: 'Florencesans';
}

#menu li a.short_title {
    width : 80px;
}

#menu li a.long_title {
    width : 180px;
}

#menu li a:hover {
    color : rgb(244, 173, 112)
}

#menu div {
    position: absolute;
    visibility: hidden;
    margin: 0;
    padding: 0;
    background: #FFF;
    border: 1px solid rgb(244, 173, 112);
 }

#menu div a {
    position: relative;
    display: block;
    margin: 0;
    padding: 5px 0px;
    text-align: left;
    text-decoration: none;
    background: #FFF;
    font-size: 10pt;
    font-family: 'Florencesans';
    color : rgb(244, 173, 112)
}

#menu div a:hover {
    color: rgb(176, 176, 177)
}

#menu #m2 {
    padding-left : 10px;
}

.web_links {
    text-align: center;
    margin : 30px 0px;
}

.share_icon {
    display: inline-block;
    width : 30px;
    height : 29px;
}

.share_facebook {
    background-image: url(share_facebook.jpg);    
}

.share_instagram {
    background-image: url(share_instagram.jpg);    
}

.share_pinterst {
    background-image: url(share_pinterst.jpg);    
}

.share_google {
    background-image: url(share_google.jpg);    
}

.share_twitter {
    background-image: url(share_twitter.jpg);    
}

.image_gallery {
    padding: 20px 0px
}

.about_image {
}

div.quote {
    padding: 50px 0px 0px 0px;
}

div.about_content {
    padding: 40px 10px;
    text-align: left
}

.quote_font {
    color: rgb(248, 200, 159);
    font-size: 50pt ;
    display: inline-block;
}

.sol_blog_section {
    text-align: center;
    padding: 20px 0px 10px 0px;
}

.sol_blog div.sol_blog_section hr {
    border : 0px;
    background-color: rgb(176, 176, 177);
    width : 100%;
    height : 2px;
}

.sol_blog_main {
    height : 500px;
    overflow: scroll;
    overflow-x : hidden
}

.sol_blog_title {
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 15pt;
}

.instagram {
    height : 100px
}

.blog_title {
    font-family: 'Otto';
    font-size : 50pt;
}

div.blog_content {
    text-align: left;
    padding: 0px 10px;
}

.sol_blog_rising {
    font-size: 20pt;   
    text-align: center;
}

.blog_section {
    padding: 30px 10px;
    text-align: center;
}

div.blog_title {
    padding: 20px 0px;
}

div.submenu {
    padding: 20px 0px;
}

.submenu_title {
    color : rgb(136, 136, 136);
    font-family: 'Otto';
    font-size:  40pt;
    width: 14%;     
    text-align: center;
}

.submenu_title:hover, .submenu_title:focus {
    color: rgb(248, 200, 159);
    text-decoration: none;
}

div.submenu hr {
    margin: 25px 0px;
}

div.travel_blog {
    margin: 20px 0px;
    display: inline-block;
}

div.travel_blog_content {
    margin: 0px 0px 0px 20px;
    float: left;
}

div.travel_blog_title {
    padding: 10px 0px;
    font-size: 13pt;
}

#blog_edit_table thead{
    font-size : 13pt
}

#instafeed img {
    padding: 5px
}

.blog_edit_line {
    padding: 10px
}

.quote_text {
    display: inline-block; 
    vertical-align: middle; 
    height: 90px;
    font-size: 17pt;
}

#blog_edit_table td {
    vertical-align: middle;
}

td img {
    margin: 0px;
}