/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@font-face {
    font-family: 'Florencesans';
    src: font-url('Florsn01.ttf') format('truetype');
    font-weight: normal;  
    font-style: normal; 
}

@font-face {
    font-family: 'Otto';
    src: font-url('Otto.ttf') format('truetype');
    font-weight: normal;  
    font-style: normal; 
}

@font-face {
    font-family: 'DayRoman';
    src: font-url('DAYROM.ttf') format('truetype');
    font-weight: normal;  
    font-style: normal; 
}

body {
    background-color: rgb(255, 255, 255);
    font-family: 'Florencesans';
    font-size: 10pt;
    color : rgb(60, 60, 60)
}

hr {
    border : 0px;
    background-color: rgb(176, 176, 177);
    width : 100%;
    height : 2px;
    margin: 4px 0px;
}

hr.large_margin {
    margin: 20px 0px;
}

.clearfix:before,
.clearfix:after {
    clear: both;
    display: table;
}

/*.main {
    width : 792px;
    margin : 0 auto;
}
*/
.banner {
    padding: 20px 0px;
}

.banner_img {
    max-width: 90%px;
}

.menubar {
    
}

.header {
    text-align: -moz-center;
    overflow: hidden;
    height: 200px;
    position: relative;
    .title {
        position: absolute;
        width: 100%;
        text-align: center;
        bottom: 0;
        z-index: 999;
        color: white;
        font-family: 'Otto';
        font-size: 170px;
        margin-bottom: 0px;
        font-weight: normal;
        line-height: 70px;
    }
    img {
        position: absolute;
        top: -50%;
    }
}

.menu_container {
    height : 50px;
    padding-top: 5px;
}

.menu_dot {
    margin-top: 7px;
    color: rgb(244, 173, 112);
    font-style: bold;
    font-size: 12pt;
    font-family: 'Florencesans';
}

.web_links {
    text-align: center;
    margin : 35px 0px 30px 0px;
}

.share_icon {
    display: inline-block;
    margin: 0px 2px;
}

.share_icon > img {
    width: 25px;
}

.share_facebook {
    background-image: url(share_facebook.jpg);    
}

.share_instagram {
    background-image: url(share_instagram.jpg);    
}

.share_pinterst {
    background-image: url(share_pinterst.jpg);    
}

.share_google {
    background-image: url(share_google.jpg);    
}

.share_twitter {
    background-image: url(share_twitter.jpg);    
}

.share_soundcloud {
    background-image: url(share_soundcloud.jpg);       
}

.image_gallery {
    padding: 0px 0px 10px 0px;
}

h1 {
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 20pt;
    letter-spacing: 5px;
}


h2 {
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 15pt;
    letter-spacing: 5px;
}

h3 {
    margin: 7px 0px 0px 0px;
    padding: 0;
    text-align: center;
    font-size: 12pt;
    letter-spacing: 3px;
}

.about_image {
}

ul.nav {
    margin: 0 auto;
    max-width: 520px;
}

div.quote {
    padding: 50px 0px 0px 0px;
}

div.about_content {
    font-family: 'DayRoman';
    font-size: 11pt;
    padding: 40px 10px;
    text-align: left
}

.featured_blog_content {
    font-family: 'DayRoman';
    font-size: 11pt;
}

.featured_blog {
    font-family: 'DayRoman';
    font-size: 11pt;
}

.quote_font {
    color: rgb(248, 200, 159);
    font-size: 50pt ;
    display: inline-block;
}

.sol_blog_section {
    text-align: center;
    padding: 5px 0px 15px 0px;
}

.sol_blog div.sol_blog_section hr {
    border : 0px;
    background-color: rgb(176, 176, 177);
    width : 100%;
    height : 2px;
}

.sol_blog_main {
    max-height : 600px;
    padding-right: 10px;
    overflow-y: scroll;
    overflow-x : hidden;
}


.blog_title {
/*  position: relative;*/
    text-align: center;
}

div.blog_content {
    font-family: 'DayRoman';
    font-size: 11pt;
    text-align: left;
    padding: 10px 0px;
}

.blog_section {
    padding: 20px 20px;
    text-align: center;
}

.blog_line_bar {
    padding: 30px 0px 20px 0px;
    text-align: center;
}

div.submenu {
    padding: 10px 0px;
}

.submenu_title {
    color : rgb(136, 136, 136);
    font-family: 'Otto';
    font-size:  50pt;
    width: 14%;     
    text-align: center;
}

.submenu_title:hover, .submenu_title:focus {
    color: rgb(248, 200, 159);
    text-decoration: none;
}

.hover_title {
    color: rgb(248, 200, 159) !important;
}

div.submenu hr {
    margin: 47px 0px;
}

div.travel_blog {
    margin: 20px 0px;
    display: inline-block;
}

div.travel_blog_content {
    margin: 0px 0px 0px 20px;
    float: left;
}

div.travel_blog_title {
    padding: 10px 0px;
    font-size: 13pt;
}

#blog_edit_table thead{
    font-size : 13pt
}

#instafeed img {
    padding: 5px
}

.blog_edit_line {
    padding: 10px
}

.quote_text {
    display: inline-block; 
    vertical-align: middle; 
    height: 90px;
    font-size: 17pt;
}

#blog_edit_table td {
    vertical-align: middle;
    word-wrap: break-word;
}

td img {
    margin: 0px;
}

.hr_div {
    margin-top: 3px;
}

.blog_nav_img {
    cursor: pointer;
    max-width: 60%;
}

.title_field {
    font-family: 'Otto';
    font-size: 50pt;
}

.date_field {
/*  position: absolute;
    right: 0px;
    bottom: 0px;
*/
}

input, textarea {
    font-family: 'DayRoman';
}

#pinterest {
    position: relative;
}

#pinterest_photo {
    width: 100%;
    padding: 5px 30px;
}

.title_field a {
    text-decoration: none;
    color: #3c3c3c;
}