div.gv_frame .gv_caption {
    position: absolute;
    top: 65px;
    left: 5px;
    font-size: 50pt;
    font-family:  'Otto';
}

.gv_frame {
    background-color: grey;
}

div.gv_galleryWrap {
    background-color: transparent;
}

.border10 {
    border: 10px solid rgb(244, 173, 112);
}

.gv_galleryWrap {
    margin: 0 auto;
}

.bxslider {
	padding-left: 0;
}
.bx-wrapper .bx-next {
	right: 20px !important;
}