div.gv_frame .gv_caption {
    position: absolute;
    top: 60px;
    left: 5px;
    font-size: 40pt;
    font-family:  'Otto';
    line-height: 20px;
}

.gv_frame {
    background-color: grey;
}

div.gv_galleryWrap {
    background-color: transparent;
}

.gv_panelWrap {
    border: 10px solid rgb(244, 173, 112);
}

.gv_galleryWrap {
    margin: 0 auto;
}