div.gv_frame .gv_caption {
    position: absolute;
    top: 65px;
    left: 5px;
    font-size: 53pt;
    font-family:  'Otto';
    width: 96%;
}

.gv_frame {
    background-color: grey;
}

div.gv_galleryWrap {
    background-color: transparent;
}

.border10 {
    border: 10px solid rgb(244, 173, 112);
}

.gv_galleryWrap {
    margin: 0 auto;
}

.bxslider {
	padding-left: 0;
}
.bx-wrapper .bx-next {
	right: 20px !important;
}

.gv_panel {
    cursor: pointer !important;
}

#pinterest_photo li {
  -moz-box-sizing: border-box;
       box-sizing: border-box;
}

#pinterest_photo li a img {
  width: 100%;
  height: auto;
}

.image-item {
    float: left;
    margin-right: 11px;
    margin-bottom: 11px;
}

.isotope:after {
  content: '';
  display: block;
  clear: both;
}